<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Encourage Writing</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./css/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header id="main-header" class="px-6 md:px-10 py-4 fixed flex justify-between items-center top-0 left-0 w-full z-50 transition-all duration-300">
    <!-- Logo -->
    <a href="/">
      <img class="w-[45px] md:w-[55px] rounded-full" src="./images/logo.jpg" alt="Logo">
    </a>

    <!-- Desktop Menu -->
    <ul class="hidden md:flex font-medium gap-7">
      <li><a href="/" class="hover:text-gray-600">Home</a></li>
      <li><a href="/blog" class="hover:text-gray-600">Blog</a></li>
      <li><a href="/service" class="hover:text-gray-600">Services</a></li>
      <li><a href="/about-us" class="hover:text-gray-600">About Us</a></li>
      <li><a href="/contact" class="hover:text-gray-600">Contact</a></li>
    </ul>

    <!-- Right Side (Desktop) -->
    <div class="hidden md:flex gap-4 items-center">
      <button class="border-black border h-[35px] w-[35px] flex justify-center items-center rounded-full">
        <i class="fa-solid fa-right-from-bracket text-[14px]"></i>
      </button>
      <a href="#" class="inline-block px-7 py-2.5 rounded-full text-white bg-black text-[14px] font-medium border hover:bg-transparent hover:text-black transition-all duration-300">
        Let's Talk
      </a>
    </div>

    <!-- Hamburger Icon (Mobile) -->
    <button id="menu-btn" class="md:hidden text-2xl">
      <img class="w-[25px]" src="./images/menu.svg" alt="">
    </button>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden absolute top-full left-0 w-full bg-white shadow-md px-6 py-4 flex flex-col gap-4 md:hidden">
      <ul class="flex flex-col gap-4 font-medium">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <div class="flex gap-4 items-center mt-4">
        <button class="border-black border h-[35px] w-[35px] flex justify-center items-center rounded-full">
          <i class="fa-solid fa-right-from-bracket text-[14px]"></i>
        </button>
        <a href="#" class="inline-block px-7 py-2.5 rounded-full text-white bg-black text-[14px] font-medium border hover:bg-transparent hover:text-black transition-all duration-300">
          Let's Talk
        </a>
      </div>
    </div>
  </header>
  <section class="pt-20">
    <div class="lg:px-14 px-4">
      <h2 class="lg:text-[36px] text-[20px] font-medium">How to scale content with AI + human editors</h2>

      <div class="flex justify-between items-center">
        <p class="lg:text-[17px] text-[14px]">September 25, 2025 • John Doe</p>

        <ul class="flex gap-2">
          <li>
            <a href="#" class="bg-[#f3f3f3] h-[30px] w-[30px] rounded-full flex justify-center items-center">
              <i class="fa-brands fa-facebook-f text-[13px]"></i>
            </a>
          </li>


          <li>
            <a href="#" class="bg-[#f3f3f3] h-[30px] w-[30px] rounded-full flex justify-center items-center">
              <i class="fa-brands fa-twitter text-[13px]"></i>
            </a>
          </li>

          <li>
            <a href="#" class="bg-[#f3f3f3] h-[30px] w-[30px] rounded-full flex justify-center items-center">
              <i class="fa-solid fa-share-nodes text-[13px]"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="mt-2 ">
      <div class="lg:px-14 px-4">
        <img class="w-full rounded-2xl lg:h-[400px] h-[360px] object-cover " src="./images/blog-1.png" alt="">

      </div>
      <div class="grid lg:grid-cols-3 lg:mt-5 mt-3 gap-7 lg:px-14 px-4">
        <div class="lg:col-span-2">
          <p class="lg:text-[17px] text-justify lg:text=left text-[13px] text-[#141219]">Our mission is simple: to deliver high-quality, engaging, and original content that resonates with your audience and drives results. From blog posts and articles to web content, social media copy, and marketing materials, we craft every piece with precision, creativity, and a deep understanding of your goals.
            With years of experience in digital marketing, SEO, and storytelling, we don’t just write—we create content that connects, captivates, and converts. Your vision becomes our blueprint, and your success is our ultimate goal. Our mission is simple: to deliver high-quality, engaging, and original content that resonates with your audience and drives results. From blog posts and articles to web content, social media copy, and marketing materials, we craft every piece with precision, creativity, and a deep understanding of your goals.
            With years of experience in digital marketing, SEO, and storytelling, we don’t just write—we create content that connects, captivates, and converts. Your vision becomes our blueprint, and your success is our ultimate goal. Our mission is simple: to deliver high-quality, engaging, and original content that resonates with your audience and drives results. From blog posts and articles to web content, social media copy, and marketing materials, we craft every piece with precision, creativity, and a deep understanding of your goals.
            With years of experience in digital marketing, SEO, and storytelling, we don’t just write—we create content that connects, captivates, and converts. Your vision becomes our blueprint, and your success is our ultimate goal.</p>
        </div>
        <div class="col-span-1">
          <div class="border-b-[#BDBDBD] border-b  pb-2">
            <h2 class="lg:text-[26px] text-[20px] font-medium">Popular Post</h2>
          </div>

          <div class="mt-6 space-y-4">
            <a href="/blog-details.html" class="flex gap-4 items-center">
              <img class="w-[130px] h-[80px] object-cover rounded-sm " src="./images/blog-2.png" alt="">

              <div>
                <h2 class="text-[17px] leading-[22px] font-medium">How to scale content with AI + human editors</h2>
                <p class="font-medium text-[13px] mt-1">September 25, 2025 • John Doe</p>
              </div>
            </a>

            <a href="/blog-details.html" class="flex gap-4 items-center">
              <img class="w-[130px] h-[80px] object-cover rounded-sm " src="./images/blog-2.png" alt="">

              <div>
                <h2 class="text-[17px] leading-[22px] font-medium">How to scale content with AI + human editors</h2>
                <p class="font-medium text-[13px] mt-1">September 25, 2025 • John Doe</p>
              </div>
            </a>

            <a href="/blog-details.html" class="flex gap-4 items-center">
              <img class="w-[130px] h-[80px] object-cover rounded-sm " src="./images/blog-2.png" alt="">

              <div>
                <h2 class="text-[17px] leading-[22px] font-medium">How to scale content with AI + human editors</h2>
                <p class="font-medium text-[13px] mt-1">September 25, 2025 • John Doe</p>
              </div>
            </a>

            <a href="/blog-details.html" class="flex gap-4 items-center">
              <img class="w-[130px] h-[80px] object-cover rounded-sm " src="./images/blog-2.png" alt="">

              <div>
                <h2 class="text-[17px] leading-[22px] font-medium">How to scale content with AI + human editors</h2>
                <p class="font-medium text-[13px] mt-1">September 25, 2025 • John Doe</p>
              </div>
            </a>




          </div>
        </div>

      </div>


      <div class="mt-10 lg:pl-14 pl-4">
        <h3 class="lg:text-[24px] text-[20px] font-medium">Latest Blog</h3>
        <section class="pb-4 pt-3 relative">
          <!-- Slider wrapper -->
          <div id="blog-slider" class="swiper  !overflow-hidden pb-10 h-[300px] lg:h-[430px]">
            <div class="swiper-wrapper  ">

              <!-- Slide 1 -->
              <div class="swiper-slide">
                <div class="rounded-b-[20px] shadow-lg">
                  <img src="./images/service1.png" class="lg:h-[200px] h-[110px] rounded-t-[20px] object-cover" alt="">
                  <div class="lg:pt-4 pt-3 lg:pb-7 pb-4 lg:px-5 px-3">
                    <h3 class="lg:text-[20px] text-[13px] font-medium">How to scale content with AI + human editors</h3>
                    <p class="lg:text-[14px] text-[10px] font-medium mt-1">A pragmatic approach to combining AI drafts with human editing for SEO and quality.</p>
                    <div class="lg:mt-4 mt-2 lg:flex items-center justify-between">
                      <p class="font-medium lg:text-[13px] text-[9px]">October 1, 2025 • Jane Smith</p>
                      <a href="/blog-details.html" class="text-[#7E7979] font-medium lg:text-[15px] text-[11px]">
                        Read More <i class="fa-solid fa-arrow-right text-[11px]"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Slide 1 -->
              <div class="swiper-slide">
                <div class="rounded-b-[20px] shadow-lg">
                  <img src="./images/service2.png" class="lg:h-[200px] h-[110px] rounded-t-[20px] object-cover" alt="">
                  <div class="lg:pt-4 pt-3 lg:pb-7 pb-4 lg:px-5 px-3">
                    <h3 class="lg:text-[20px] text-[13px] font-medium">How to scale content with AI + human editors</h3>
                    <p class="lg:text-[14px] text-[10px] font-medium mt-1">A pragmatic approach to combining AI drafts with human editing for SEO and quality.</p>
                    <div class="lg:mt-4 mt-2 lg:flex items-center justify-between">
                      <p class="font-medium lg:text-[13px] text-[9px]">October 1, 2025 • Jane Smith</p>
                      <a href="/blog-details.html" class="text-[#7E7979] font-medium lg:text-[15px] text-[11px]">
                        Read More <i class="fa-solid fa-arrow-right text-[11px]"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide 1 -->
              <div class="swiper-slide">
                <div class="rounded-b-[20px] shadow-lg">
                  <img src="./images/service3.png" class="lg:h-[200px] h-[110px] rounded-t-[20px] object-cover" alt="">
                  <div class="lg:pt-4 pt-3 lg:pb-7 pb-4 lg:px-5 px-3">
                    <h3 class="lg:text-[20px] text-[13px] font-medium">How to scale content with AI + human editors</h3>
                    <p class="lg:text-[14px] text-[10px] font-medium mt-1">A pragmatic approach to combining AI drafts with human editing for SEO and quality.</p>
                    <div class="lg:mt-4 mt-2 lg:flex items-center justify-between">
                      <p class="font-medium lg:text-[13px] text-[9px]">October 1, 2025 • Jane Smith</p>
                      <a href="/blog-details.html" class="text-[#7E7979] font-medium lg:text-[15px] text-[11px]">
                        Read More <i class="fa-solid fa-arrow-right text-[11px]"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Slide 1 -->
              <div class="swiper-slide">
                <div class="rounded-b-[20px] shadow-lg">
                  <img src="./images/service4.png" class="lg:h-[200px] h-[110px] rounded-t-[20px] object-cover" alt="">
                  <div class="lg:pt-4 pt-3 lg:pb-7 pb-4 lg:px-5 px-3">
                    <h3 class="lg:text-[20px] text-[13px] font-medium">How to scale content with AI + human editors</h3>
                    <p class="lg:text-[14px] text-[10px] font-medium mt-1">A pragmatic approach to combining AI drafts with human editing for SEO and quality.</p>
                    <div class="lg:mt-4 mt-2 lg:flex items-center justify-between">
                      <p class="font-medium lg:text-[13px] text-[9px]">October 1, 2025 • Jane Smith</p>
                      <a href="/blog-details.html" class="text-[#7E7979] font-medium lg:text-[15px] text-[11px]">
                        Read More <i class="fa-solid fa-arrow-right text-[11px]"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Slide 1 -->
              <div class="swiper-slide">
                <div class="rounded-b-[20px] shadow-lg">
                  <img src="./images/service5.png" class="lg:h-[200px] h-[110px] rounded-t-[20px] object-cover" alt="">
                  <div class="lg:pt-4 pt-3 lg:pb-7 pb-4 lg:px-5 px-3">
                    <h3 class="lg:text-[20px] text-[13px] font-medium">How to scale content with AI + human editors</h3>
                    <p class="lg:text-[14px] text-[10px] font-medium mt-1">A pragmatic approach to combining AI drafts with human editing for SEO and quality.</p>
                    <div class="lg:mt-4 mt-2 lg:flex items-center justify-between">
                      <p class="font-medium lg:text-[13px] text-[9px]">October 1, 2025 • Jane Smith</p>
                      <a href="/blog-details.html" class="text-[#7E7979] font-medium lg:text-[15px] text-[11px]">
                        Read More <i class="fa-solid fa-arrow-right text-[11px]"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>


  </section>

  </div>

  </div>
  </section>



  <section class="lg:py-14 px-4 lg:px-0 py-10 bg-[#F0F0F0] text-center lg:mt-20 mt-12">
    <h2 class="font-semibold lg:text-[38px] text-[22px] lg:w-[60%] mx-auto lg:leading-[45px]">Ready to boost your brand with powerful content?</h2>

    <p class="font-medium lg:text-[17px] text-[14px]">Let’s work together to create words that convert and stories that inspire.</p>

    <a href="#" class="bg-black rounded-md py-2 px-8 text-white font-medium inline-block lg:mt-5 mt-3 text-[14px] lg:text-[16px]">Hire Us Today</a>
  </section>
 <footer class="lg:pt-8 pt-6 bg-black text-white">
   <div class="grid lg:grid-cols-6 lg:px-14 px-7  lg:mb-20 mb-10 lg:gap-12 gap-7">
     <div class="col-span-2">
       <img src="./images/logo.jpg" alt="" class="w-[120px] -ml-8">

       <p class="text-white lg:text-[14px] text-[13px] lg:pr-10 -mt-8">Powerful words, impactful stories. We craft SEO-friendly content that builds trust and drives growth.</p>
     </div>

     <div class="col-span-1 lg:mt-5 mt-3">
       <h2 class="font-medium lg:text-[17px] text-[15px]">Quick Links</h2>

       <ul class="mt-4 space-y-1.5 lg:text-[15px] text-[13px]">
         <li>
           <a href="/about-us.html">About Us</a>
         </li>

         <li>
           <a href="/services.html">Services</a>
         </li>


         <li>
           <a href="/blogs.html">Blog</a>
         </li>


         <li>
           <a href="/contact.html">Contact Us</a>
         </li>
       </ul>
     </div>

     <div class="col-span-1 lg:mt-5 mt-3">
       <h2 class="font-medium lg:text-[17px] text-[15px]">Services</h2>

       <ul class="mt-4 space-y-1.5 lg:text-[15px] text-[13px]">
         <li>
           <a href="/service-details.html">Blog & Article Writing</a>
         </li>

         <li>
           <a href="/service-details.html">Website Content</a>
         </li>


         <li>
           <a href="/service-details.html">SEO Content</a>
         </li>


         <li>
           <a href="/service-details.html">Copywriting</a>
         </li>
       </ul>
     </div>

     <div class="col-span-2 lg:mt-5 mt-3 lg:pl-10">
       <h2 class="font-medium lg:text-[17px] text-[15px]">Get in Touch</h2>

       <ul class="mt-4 space-y-1.5 lg:text-[15px] text-[13px]">
         <li>
           <a href="#"><i class="fa-solid fa-envelope"></i> info@contentwhale.com</a>
         </li>

         <li>
           <a href="#"><i class="fa-solid fa-phone text-[13px] lg:text-[15px]"></i> +91 98765 43210</a>
         </li>


         <li>
           <a href="#"><i class="fa-solid fa-location-dot text-[13px] lg:text-[15px]"></i> Jaipur, Rajasthan, India</a>
         </li>



       </ul>

       <ul class="mt-4 flex gap-3">
         <li>
           <a href="#" class="bg-white lg:w-[30px] lg:h-[30px] w-[25px] h-[25px] flex justify-center items-center rounded-full"><i class="fa-brands fa-facebook-f text-[13px] lg:text-[16px] text-black"></i></a>
         </li>

         <li>
           <a href="#" class="bg-white lg:w-[30px] lg:h-[30px] w-[25px] h-[25px] flex justify-center items-center rounded-full"><i class="fa-brands fa-twitter text-[13px] lg:text-[16px] text-black"></i></a>
         </li>
         <li>
           <a href="#" class="bg-white lg:w-[30px] lg:h-[30px] w-[25px] h-[25px] flex justify-center items-center rounded-full"><i class="fa-brands fa-instagram text-[13px] lg:text-[16px] text-black"></i></a>
         </li>
       </ul>
     </div>
   </div>

   <div class="bottom-footer border-t-[rgba(255,255,255,.3)] py-7 border-t ">
     <p class="text-[#FFFFFF78] text-[14px] text-center ">© 2025 ContentWhale. All rights reserved.</p>
   </div>
 </footer>


  <script>
    const menuBtn = document.getElementById("menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");

    menuBtn.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  </script>

  <script>
    const header = document.getElementById("main-header");
    window.addEventListener("scroll", () => {
      if (window.scrollY > 30) {
        header.classList.add("bg-white", "shadow", );
      } else {
        header.classList.remove("bg-white", "shadow");
      }
    });
  </script>
  <script src=" https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    const blogSwiper = new Swiper('#blog-slider', {
      loop: true,
      slidesPerView: 3.4,
      spaceBetween: 20,
      slidesPerGroup: 1,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      breakpoints: {
        0: {
          slidesPerView: 2
        }, // Mobile
        768: {
          slidesPerView: 2
        }, // Tablet
        1024: {
          slidesPerView: 3.4
        } // Desktop
      }
    });
  </script>


</body>

</html>