<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Encourage Writing</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./css/style.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header id="main-header" class="px-6 md:px-10 py-4 fixed flex justify-between items-center top-0 left-0 w-full z-50 transition-all duration-300">
    <!-- Logo -->
    <a href="/">
      <img class="w-[45px] md:w-[55px] rounded-full" src="./images/logo.jpg" alt="Logo">
    </a>

    <!-- Desktop Menu -->
    <ul class="hidden md:flex font-medium gap-7">
      <li><a href="/" class="hover:text-gray-600">Home</a></li>
      <li><a href="/blog" class="hover:text-gray-600">Our Work</a></li>
      <li><a href="/service" class="hover:text-gray-600">Services</a></li>
      <li><a href="/about-us" class="hover:text-gray-600">About Us</a></li>
      <li><a href="/contact" class="hover:text-gray-600">Contact</a></li>
    </ul>

    <!-- Right Side (Desktop) -->
    <div class="hidden md:flex gap-4 items-center">
      <button class="border-black border h-[35px] w-[35px] flex justify-center items-center rounded-full">
        <i class="fa-solid fa-right-from-bracket text-[14px]"></i>
      </button>
      <a href="#" class="inline-block px-7 py-2.5 rounded-full text-white bg-black text-[14px] font-medium border hover:bg-transparent hover:text-black transition-all duration-300">
        Let's Talk
      </a>
    </div>

    <!-- Hamburger Icon (Mobile) -->
    <button id="menu-btn" class="md:hidden text-2xl">
      <img class="w-[25px]" src="./images/menu.svg" alt="">
    </button>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden absolute top-full left-0 w-full bg-white shadow-md px-6 py-4 flex flex-col gap-4 md:hidden">
      <ul class="flex flex-col gap-4 font-medium">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Our Work</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

      <div class="flex gap-4 items-center mt-4">
        <button class="border-black border h-[35px] w-[35px] flex justify-center items-center rounded-full">
          <i class="fa-solid fa-right-from-bracket text-[14px]"></i>
        </button>
        <a href="#" class="inline-block px-7 py-2.5 rounded-full text-white bg-black text-[14px] font-medium border hover:bg-transparent hover:text-black transition-all duration-300">
          Let's Talk
        </a>
      </div>
    </div>
  </header>

  <section style="background-image: url('./images/farme.png'); background-repeat: no-repeat; background-position: center; " class="pt-[50px] pb-[80px] lg:mt-20 mt-10">

    <div>
      <h2 class="lg:text-[32px] text-[22px] hero-heading text-center font-semibold capitalize  mx-auto ">Services</h2>

      <div class="lg:px-14 px-4 text-center">
        <h2 class="lg:text-[32px] text-[22px] hero-heading  font-semibold capitalize lg:w-[65%] w-[80%] mx-auto lg:leading-[58px]">AI + SEO Services That Drive Results</h2>

        <p class="lg:text-[20px] text-[12px]  font-medium">Blend cutting-edge AI technology with expert human creativity to deliver optimized content, higher rankings, and measurable business growth.</p>
        <a href="#" class="lg:mt-5 mt-3 font-medium bg-black text-white px-7 lg:py-2.5 py-1.5 lg:text-[16px] text-[12px] inline-block  rounded-full">Contact us</a>
      </div>

    </div>

    <div class="lg:px-14 px-4 mt-5">
      <div class="grid lg:grid-cols-3 bg-[url('./images/banner-10.png')]  rounded-[40px] ">
        <div class="lg:col-span-2 lg:py-10 py-8  px-7 lg:px-16">
          <h2 class="text-white lg:text-[34px] text-[20px] lg:w-[65%] lg:leading-[45px]">Smart SEO + AI-Powered Content That Ranks & Converts</h2>
          <p class="text-white lg:w-[60%] lg:text-[16px] text-[12px] mt-1">Leverage AI insights and human expertise for content that boosts visibility and drives growth.</p>

          <a href="#" class="text-[15px] lg:mt-5 mt-3 font-medium bg-white text-black px-7 lg:py-2.5 py-1.5 inline-block lg:text-[16px] text-[12px]  rounded-full">Get Started Today</a>
        </div>

        <div class="col-span-1 p-5">
          <img src="./images/graph.png" alt="">
        </div>
      </div>
    </div>

  </section>

  <section class="lg:px-12 px-4 bg-[#F8F8F8] lg:py-16 py-10  ">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
      <div class="col-span-1">
        <!-- Slider main container -->
        <div class="swiper auto-swiper ">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/10.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/11.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/13.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/14.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/11.png" alt=""></div>
          </div>


        </div>

        <!-- Slider main container -->
        <div class="swiper auto-swiper2 mt-5">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/11.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/14.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/13.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/11.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/10.png" alt=""></div>
          </div>


        </div>

        <!-- Slider main container -->
        <div class="swiper auto-swiper3 mt-5 ">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/10.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/11.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/13.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/14.png" alt=""></div>
            <div class="swiper-slide"><img class="lg:h-[55px] h-[30px] w-full object-cover" src="./images/11.png" alt=""></div>
          </div>
        </div>
      </div>

      <div class="col-span-1 lg:pl-10">
        <p class="lg:text-[14px]  text-[12px]">Trusted by Leading Brands</p>
        <h2 class="lg:text-[32px] text-[20px] font-semibold">A Trusted Content Partner</h2>
        <p class="lg:text-[16px] text-[13px] font-medium">Join 500+ businesses worldwide who rely on us for impactful, SEO-driven content delivered with quality and consistency.</p>

        <a href="#" class="bg-black lg:text-[16px] text-[13px] text-white rounded-md px-10 py-3 font-medium lg:mt-4 mt-3 inline-block">Work With US</a>
      </div>
  </section>

  <section class="lg:py-12 py-10  lg:px-14 px-4 ">
    <div class="text-center">
      <div class="border-[#C7C7C7] border lg:px-4 px-6 rounded-full  inline-block lg:py-2 py-1.5">
        <div class="flex items-center gap-2 text-[12px]">
          <img src="./images/star.png" alt="" class="lg:w-[12px] w-[10px]">
          <p class="font-semibold lg:text-[16px] text-[13px]">Trusted By</p>
        </div>
      </div>

      <h2 class="lg:text-[40px] text-[20px] font-semibold lg:mt-0 mt-2">Our Services</h2>
      <p class="lg:text-[18px] text-[12px] font-medium">End-to-end content solutions for every stage of the funnel.</p>
    </div>

    <div class="grid lg:grid-cols-3 grid-cols-2 gap-4 mt-10">
      <div class="col-span-1 rounded-b-[20px] shadow-lg">
        <div class="relative">
          <img src="./images/service1.png" class="h-[100px] lg:h-auto object-cover  rounded-t-[20px]" alt="">
          <div class="lg:h-[50px] h-[35px] w-[35px] lg:top-4 top-2 cursor-pointer lg:left-5 left-3 absolute flex justify-center items-center lg:w-[50px] bg-black rounded-full">
            <img src="./images/blog.png" alt="" class="lg:w-[23px] w-[17px]">
          </div>
        </div>

        <div class="lg:pt-4 pt-2 lg:pb-7 pb-4 lg:px-4 px-3">
          <h3 class="lg:text-[20px] text-[13px] font-medium">Blog Writing</h3>
          <p class="lg:text-[14px] text-[9px] font-medium mt-1">High-quality blog & article writing tailored to your brand.End-to-end content solutions for every stage of the funnel.</p>

          <a href="#" class="lg:mt-5 mt-3 bg-black text-white text-[13px] lg:text-[15px] py-2.5 block w-full rounded-md text-center">Read More <i class="fa-solid fa-arrow-right lg:text-[12px] text-[9px]"></i></a>
        </div>
      </div>

      <div class="col-span-1 rounded-b-[20px] shadow-lg">
        <div class="relative">
          <img class="h-[100px] lg:h-auto object-cover  rounded-t-[20px]" src="./images/service2.png" alt="">
          <div class="lg:h-[50px] h-[35px] w-[35px] lg:top-4 top-2 cursor-pointer lg:left-5 left-3 absolute flex justify-center items-center lg:w-[50px] bg-black rounded-full">
            <img src="./images/blog.png" alt="" class="lg:w-[23px] w-[17px]">
          </div>
        </div>

        <div class="lg:pt-4 pt-2 lg:pb-7 pb-4 lg:px-4 px-3">
          <h3 class="lg:text-[20px] text-[13px] font-medium">Article Writing</h3>
          <p class="lg:text-[14px] text-[9px] font-medium mt-1">High-quality blog & article writing tailored to your brand.End-to-end content solutions for every stage of the funnel.</p>

          <a href="#" class="lg:mt-5 mt-3 bg-black text-white text-[13px] lg:text-[15px] py-2.5 block w-full rounded-md text-center">Read More <i class="fa-solid fa-arrow-right lg:text-[12px] text-[9px]"></i></a>
        </div>
      </div>

      <div class="col-span-1 rounded-b-[20px] shadow-lg">
        <div class="relative">
          <img class="h-[100px] lg:h-auto object-cover  rounded-t-[20px]" src="./images/service3.png" alt="">
          <div class="lg:h-[50px] h-[35px] w-[35px] lg:top-4 top-2 cursor-pointer lg:left-5 left-3 absolute flex justify-center items-center lg:w-[50px] bg-black rounded-full">
            <img src="./images/blog.png" alt="" class="lg:w-[23px] w-[17px]">
          </div>
        </div>

        <div class="lg:pt-4 pt-2 lg:pb-7 pb-4 lg:px-4 px-3">
          <h3 class="lg:text-[20px] text-[13px] font-medium">SEO Content Writing</h3>
          <p class="lg:text-[14px] text-[9px] font-medium mt-1">High-quality blog & article writing tailored to your brand.End-to-end content solutions for every stage of the funnel.</p>

          <a href="#" class="lg:mt-5 mt-3 bg-black text-white text-[13px] lg:text-[15px] py-2.5 block w-full rounded-md text-center">Read More <i class="fa-solid fa-arrow-right lg:text-[12px] text-[9px]"></i></a>
        </div>
      </div>

      <div class="col-span-1 lg:mt-2 rounded-b-[20px] shadow-lg">
        <div class="relative">
          <img class="h-[100px] lg:h-auto object-cover  rounded-t-[20px]" src="./images/service4.png" alt="">
          <div class="lg:h-[50px] h-[35px] w-[35px] lg:top-4 top-2 cursor-pointer lg:left-5 left-3 absolute flex justify-center items-center lg:w-[50px] bg-black rounded-full">
            <img src="./images/blog.png" alt="" class="lg:w-[23px] w-[17px]">
          </div>
        </div>

        <div class="lg:pt-4 pt-2 lg:pb-7 pb-4 lg:px-4 px-3">
          <h3 class="lg:text-[20px] text-[13px] font-medium">Case Study Writing</h3>
          <p class="lg:text-[14px] text-[9px] font-medium mt-1">High-quality blog & article writing tailored to your brand.End-to-end content solutions for every stage of the funnel.</p>

          <a href="#" class="lg:mt-5 mt-3 bg-black text-white text-[13px] lg:text-[15px] py-2.5 block w-full rounded-md text-center">Read More <i class="fa-solid fa-arrow-right lg:text-[12px] text-[9px]"></i></a>
        </div>
      </div>

      <div class="col-span-1 mt-2 rounded-b-[20px] shadow-lg">
        <div class="relative">
          <img class="h-[100px] lg:h-auto object-cover  rounded-t-[20px]" src="./images/service5.png" alt="">
          <div class="lg:h-[50px] h-[35px] w-[35px] lg:top-4 top-2 cursor-pointer lg:left-5 left-3 absolute flex justify-center items-center lg:w-[50px] bg-black rounded-full">
            <img src="./images/blog.png" alt="" class="lg:w-[23px] w-[17px]">
          </div>
        </div>

        <div class="lg:pt-4 pt-2 lg:pb-7 pb-4 lg:px-4 px-3">
          <h3 class="lg:text-[20px] text-[13px] font-medium">Website Content Writing</h3>
          <p class="lg:text-[14px] text-[9px] font-medium mt-1">High-quality blog & article writing tailored to your brand.End-to-end content solutions for every stage of the funnel.</p>

          <a href="#" class="lg:mt-5 mt-3 bg-black text-white text-[13px] lg:text-[15px] py-2.5 block w-full rounded-md text-center">Read More <i class="fa-solid fa-arrow-right lg:text-[12px] text-[9px]"></i></a>
        </div>
      </div>

      <div class="col-span-1 mt-2 rounded-b-[20px] shadow-lg">
        <div class="relative">
          <img class="h-[100px] lg:h-auto object-cover  rounded-t-[20px]" src="./images/service6.png" alt="">
          <div class="lg:h-[50px] h-[35px] w-[35px] lg:top-4 top-2 cursor-pointer lg:left-5 left-3 absolute flex justify-center items-center lg:w-[50px] bg-black rounded-full">
            <img src="./images/blog.png" alt="" class="lg:w-[23px] w-[17px]">
          </div>
        </div>

        <div class="lg:pt-4 pt-2 lg:pb-7 pb-4 lg:px-4 px-3">
          <h3 class="lg:text-[20px] text-[13px] font-medium">Ebook Writing</h3>
          <p class="lg:text-[14px] text-[9px] font-medium mt-1">High-quality blog & article writing tailored to your brand.End-to-end content solutions for every stage of the funnel.</p>

          <a href="#" class="lg:mt-5 mt-3 bg-black text-white text-[13px] lg:text-[15px] py-2.5 block w-full rounded-md text-center">Read More <i class="fa-solid fa-arrow-right lg:text-[12px] text-[9px]"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section class="py-12 lg:px-14 px-4 lg:mb-8">
    <div class="text-center">
      <div class="border-[#C7C7C7] border lg:px-4 px-6 rounded-full  inline-block lg:py-2 py-1.5">
        <div class="flex items-center gap-2 text-[12px]">
          <img src="./images/star.png" alt="" class="lg:w-[12px] w-[10px]">
          <p class="font-semibold lg:text-[16px] text-[13px]">Trusted By</p>
        </div>
      </div>


      <h2 class="lg:text-[40px] text-[20px] font-semibold lg:mt-0 mt-2">Transparent Pricing Made Simple</h2>
      <p class="lg:text-[18px] text-[12px] font-medium">Quickly calculate your content cost in seconds — no hidden fees, no surprises.</p>
    </div>

    <div class="grid lg:grid-cols-2 border-[#C7C7C7] border rounded-[20px] mt-10 lg:px-8 px-4 lg:py-6 py-4">
      <div class="col-span-1">
        <h2 class="lg:text-[22px] text-[18px] font-medium">Calculate your pricing for content</h2>
        <div class="mt-4">
          <label class="font-medium lg:text-[17px] text-[15px]">Content Type</label>

          <div class="relative w-full">
            <select class="block w-full font-medium text-[15px] outline-0 cursor-pointer mt-1 border-[#c7c7c7] border py-3 rounded-md px-4 appearance-none pr-10">
              <option value="">Service Type</option>

            </select>

            <!-- Custom Icon -->
            <span class="absolute right-4 top-1/2 -translate-y-1/2 pointer-events-none">
              <i class="fa-solid fa-angle-down text-[15px] text-gray-500"></i>
            </span>
          </div>

          <div class="mt-4">
            <label class="font-medium lg:text-[17px] text-[15px]">Quantity</label>
            <input value="500" type="text" class="block w-full font-medium text-[15px] outline-0 cursor-pointer mt-1 border-[#c7c7c7] border py-3 rounded-md px-4 appearance-none pr-10">
          </div>

          <div class="mt-4">
            <p class="font-medium lg:text-[17px] text-[15px]">Your Price</p>
            <p class="font-medium lg:text-[36px] text-[26px]">₹ 0.00 <span class="lg:text-[16px] text-[13px]">Rupees</span></p>
          </div>

        </div>
      </div>

      <div class="col-span-1 lg:pl-16 mt-5 lg:mt-0">
        <div class="bg-[#F6F6F6] lg:px-8 px-6 py-4  lg:py-6 rounded-xl">
          <h3 class="lg:text-[22px] text-[18px] font-medium">What’s Included</h3>

          <ul class="mt-4 space-y-2.5">
            <li class="flex items-center gap-2.5">
              <img class="lg:w-[24px] w-[20px]" src="./images/check.png" alt="">
              <span class="font-medium lg:text-[16px] text-[14px]">SEO-Optimization</span>
            </li>

            <li class="flex items-center gap-2.5">
              <img class="lg:w-[24px] w-[20px]" src="./images/check.png" alt="">
              <span class="font-medium lg:text-[16px] text-[14px]">0% Plagiarism [With Report]</span>
            </li>

            <li class="flex items-center gap-2.5">
              <img class="lg:w-[24px] w-[20px]" src="./images/check.png" alt="">
              <span class="font-medium lg:text-[16px] text-[14px]">100% AI-free content</span>
            </li>

            <li class="flex items-center gap-2.5">
              <img class="lg:w-[24px] w-[20px]" src="./images/check.png" alt="">
              <span class="font-medium lg:text-[16px] text-[14px]">Free revisions</span>
            </li>

            <li class="flex items-center gap-2.5">
              <img class="lg:w-[24px] w-[20px]" src="./images/check.png" alt="">
              <span class="font-medium lg:text-[16px] text-[14px]">48 hours delivery</span>
            </li>
          </ul>

          <div class="mt-4">
            <a href="#" class="rounded-md text-white bg-black py-2.5 font-medium block w-full text-center lg:text-[16px] text-[14px]">Get Started</a>

          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="lg:px-20 px-4 py-8  lg:py-12 ">
    <div class="text-center">
      <span class="bg-white border text-black font-medium px-8 inline-block py-1.5 rounded-full text-[13px] lg:text-[14px]">Our Purpose</span>

      <h2 class="lg:text-[40px] text-[20px] font-semibold">Why Choose Encourages Writing?</h2>
      <p class="lg:text-[18px] text-[12px] ">We deliver high-quality, SEO-optimized content quickly and affordably, with a team of experts across 20+ industries</p>
    </div>

    <div class="grid lg:gap-10 gap-5 lg:grid-cols-4 grid-cols-2 mt-6  lg:mt-10">
      <div class="col-span-1 text-center">
        <img class="lg:w-[90px] w-[70px] mx-auto" src="./images/fast-delivery.png" alt="">
        <h3 class="font-semibold lg:text-[18px]  text-[16px]">Fast Delivery</h3>
        <p class="lg:text-[14px] text-[11px] font-medium lg:leading-[18px]">We deliver high-quality content quickly, often within 48 hours, so your projects stay on schedule.</p>
      </div>

      <div class="col-span-1 text-center">
        <img class="lg:w-[90px] w-[70px] mx-auto" src="./images/fast-delivery 2.png" alt="">
        <h3 class="font-semibold lg:text-[18px]  text-[16px]">Affordable Pricing</h3>
        <p class="lg:text-[14px] text-[11px] font-medium leading-[18px]">Top-notch content at prices that suit businesses of all sizes.</p>
      </div>

      <div class="col-span-1 text-center">
        <img class="lg:w-[90px] w-[70px] mx-auto" src="./images/fast-delivery 3.png" alt="">
        <h3 class="font-semibold lg:text-[18px]  text-[16px]">SEO Expertise</h3>
        <p class="lg:text-[14px] text-[11px] font-medium leading-[18px]">Our content is crafted to rank well on search engines and engage your audience effectively.</p>
      </div>

      <div class="col-span-1 text-center">
        <img class="lg:w-[90px] w-[70px] mx-auto" src="./images/fast-delivery 4.png" alt="">
        <h3 class="font-semibold lg:text-[18px]  text-[16px]">Team of 100+ Writers:</h3>
        <p class="lg:text-[14px] text-[11px] font-medium leading-[18px]">Our content is crafted to rank well on search engines and engage your audience effectively.</p>
      </div>
    </div>
  </section>

  <section class="lg:px-14 px-4 lg:py-14 py-8">
    <div class="grid grid-cols-3 lg:py-16 py-8 bg-white rounded-2xl shadow-xl">
      <div class="col-span-1  border-r-[rgba(0,0,0,.1)] border-r  text-center">
        <h2 class="font-medium lg:text-[36px] text-[22px]">500+</h2>
        <p class="text-[#141219] font-medium -mt-1.5 lg:text-[16px] text-[11px]">Projects Delivered</p>
      </div>

      <div class="col-span-1 border-r-[rgba(0,0,0,.1)] border-r  text-center">
        <h2 class="font-medium  lg:text-[36px] text-[22px]">2M+</h2>
        <p class="text-[#141219] font-medium -mt-1.5 lg:text-[16px] text-[11px]">Words Written</p>
      </div>


      <div class="col-span-1 text-center">
        <h2 class="font-medium  lg:text-[36px] text-[22px]">150%</h2>
        <p class="text-[#141219] font-medium -mt-1.5 lg:text-[16px] text-[11px]">Avg. Traffic Growth</p>
      </div>
    </div>
  </section>

  <section class="lg:pl-14 pl-4 lg:py-20 pt-16 relative">

    <div class="flex items-end pr-10 ">
      <h2 class="lg:text-[26px] text-[20px] font-medium w-[85%] lg:w-[32%]">Our Seamless 4-Step Process to Crafting Powerful Content</h2>

      <span class="bg-black h-[1px] w-full flex-1 inline-block mb-2"></span>
    </div>

    <div id="process-slider" class="swiper pb-10 h-[420px] lg:h-[450px] !overflow-hidden mt-10">
      <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide ">
          <div class="px-4 h-[339px] lg:h-auto bg-[url('./images/a20.png')] py-8 bg-cover bg-center rounded-3xl">
            <div>
              <h2 class="lg:text-[28px] text-[20px] font-medium text-white">01.</h2>
              <p class="font-medium lg:text-[20px] text-[17px] text-white -mt-1.5">Understanding Client Needs</p>
            </div>
            <div class="mt-32">
              <p class="text-white lg:text-[15px] text-[13px]">We begin by carefully listening to your requirements, goals, and target audience. This helps us tailor the content strategy to align perfectly with your brand’s voice and objectives.</p>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide">
          <div class="px-4 h-[339px] lg:h-auto bg-[url('./images/a20.png')] py-8 bg-cover bg-center rounded-3xl">
            <div>
              <h2 class="lg:text-[28px] text-[20px] font-medium text-white">02.</h2>
              <p class="font-medium lg:text-[20px] text-[17px] text-white -mt-1.5">Research & Drafting</p>
            </div>
            <div class="mt-32">
              <p class="text-white lg:text-[15px] text-[13px]">Our team conducts in-depth research on your industry, competitors, and keywords. Based on these insights, we create a well-structured draft that balances creativity with SEO-driven content.</p>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide ">
          <div class="px-4 h-[339px] lg:h-auto bg-[url('./images/a20.png')] py-8 bg-cover bg-center rounded-3xl">
            <div>
              <h2 class="text-[28px] font-medium text-white">03.</h2>
              <p class="font-medium lg:text-[20px] text-[17px] text-white -mt-1.5">Editing & Proofreading</p>
            </div>
            <div class="mt-32">
              <p class="text-white lg:text-[15px] text-[13px]">Every draft goes through a rigorous quality check by expert editors. We refine tone, grammar, and clarity, ensuring your content is polished, professional, and error-free.</p>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="swiper-slide ">
          <div class="px-4 h-[339px] lg:h-auto bg-[url('./images/a20.png')] py-8 bg-cover bg-center rounded-3xl">
            <div>
              <h2 class="text-[28px] font-medium text-white">04.</h2>
              <p class="font-medium lg:text-[20px] text-[17px] text-white -mt-1.5">Final Delivery</p>
            </div>
            <div class="mt-32">
              <p class="text-white lg:text-[15px] text-[13px]">Every draft goes through a rigorous quality check by expert editors. We refine tone, grammar, and clarity, ensuring your content is polished, professional, and error-free.</p>
            </div>
          </div>
        </div>



      </div>

      <!-- Arrows bottom aligned & close together -->
      <div class="flex absolute bottom-8  right-20">
        <div class="swiper-button-prev prev-process  -ml-2 cursor-pointer h-[45px] min-w-[45px] border-black border rounded-full">
          <i class="fa-solid fa-arrow-right text-black text-lg"></i>
        </div>
        <div class="swiper-button-next next-process cursor-pointer h-[45px] min-w-[45px] border-black border rounded-full">
          <i class="fa-solid fa-arrow-left text-black text-lg "></i>
        </div>
      </div>

    </div>

  </section>

  <section class="lg:py-14 py-8 ">
    <div class="text-center">
      <h2 class="lg:text-[40px] text-[20px] font-bold lg:mt-0 mt-2 ">What our Customer says</h2>
    </div>



    <div class="lg:pl-12 pl-4 pr-2  relative">

      <!-- Custom Navigation -->
      <div class="hidden lg:block">
        <div class="swiper-button-next absolute !text-black !-top-8 !right-5">
          <i class="fa-solid fa-arrow-right text-2xl"></i>
        </div>
        <div class="swiper-button-prev absolute !text-black  !-top-8 !left-10">
          <i class="fa-solid fa-arrow-left text-2xl"></i>
        </div>
      </div>
      <!-- Swiper Container -->
      <div id="reviewSwiper" class="swiper mySwiper lg:mt-10 mt-6">
        <div class="swiper-wrapper">

          <!-- Slide 1 -->
          <div class="swiper-slide col-span-1 border-[#DCDCDC] border px-6 py-7 rounded-2xl">
            <div class="flex justify-between items-center">
              <div class="flex gap-3 items-center">
                <img class="h-[50px] pt-2 w-[50px] bg-[#E1E1E1] rounded-full object-cover" src="./images/user-1.png" alt="">
                <div>
                  <h3 class="text-[14px] font-medium">Ashley Cook</h3>
                  <h3 class="text-[13px] font-medium">CEO, Company</h3>
                </div>
              </div>

              <div class="flex items-center gap-2">
                <i class="fa-solid fa-star"></i>
                <p class="font-medium lg:text-[16px] text-[13px]">5/5</p>
              </div>

            </div>

            <p class="text-[#00000066] font-medium text-[13px] mt-5">
              I’ve tried many platforms, but UI Wiki stands out for its attention to detail and clean aesthetics. Highly recommend!
            </p>


          </div>

          <!-- Slide 1 -->
          <div class="swiper-slide col-span-1 border-[#DCDCDC] border px-6 py-7 rounded-2xl">
            <div class="flex justify-between items-center">
              <div class="flex gap-3 items-center">
                <img class="h-[50px] pt-2 w-[50px] bg-[#E1E1E1] rounded-full object-cover" src="./images/user-1.png" alt="">
                <div>
                  <h3 class="text-[14px] font-medium">Ashley Cook</h3>
                  <h3 class="text-[13px] font-medium">CEO, Company</h3>
                </div>
              </div>

              <div class="flex items-center gap-2">
                <i class="fa-solid fa-star"></i>
                <p class="font-medium lg:text-[16px] text-[13px]">5/5</p>
              </div>

            </div>

            <p class="text-[#00000066] font-medium text-[13px] mt-5">
              I’ve tried many platforms, but UI Wiki stands out for its attention to detail and clean aesthetics. Highly recommend!
            </p>


          </div>

          <!-- Slide 1 -->
          <div class="swiper-slide col-span-1 border-[#DCDCDC] border px-6 py-7 rounded-2xl">
            <div class="flex justify-between items-center">
              <div class="flex gap-3 items-center">
                <img class="h-[50px] pt-2 w-[50px] bg-[#E1E1E1] rounded-full object-cover" src="./images/user-1.png" alt="">
                <div>
                  <h3 class="text-[14px] font-medium">Ashley Cook</h3>
                  <h3 class="text-[13px] font-medium">CEO, Company</h3>
                </div>
              </div>

              <div class="flex items-center gap-2">
                <i class="fa-solid fa-star"></i>
                <p class="font-medium lg:text-[16px] text-[13px]">5/5</p>
              </div>

            </div>

            <p class="text-[#00000066] font-medium text-[13px] mt-5">
              I’ve tried many platforms, but UI Wiki stands out for its attention to detail and clean aesthetics. Highly recommend!
            </p>


          </div>

          <!-- Slide 1 -->
          <div class="swiper-slide col-span-1 border-[#DCDCDC] border px-6 py-7 rounded-2xl">
            <div class="flex justify-between items-center">
              <div class="flex gap-3 items-center">
                <img class="h-[50px] pt-2 w-[50px] bg-[#E1E1E1] rounded-full object-cover" src="./images/user-1.png" alt="">
                <div>
                  <h3 class="text-[14px] font-medium">Ashley Cook</h3>
                  <h3 class="text-[13px] font-medium">CEO, Company</h3>
                </div>
              </div>

              <div class="flex items-center gap-2">
                <i class="fa-solid fa-star"></i>
                <p class="font-medium lg:text-[16px] text-[13px]">5/5</p>
              </div>

            </div>

            <p class="text-[#00000066] font-medium text-[13px] mt-5">
              I’ve tried many platforms, but UI Wiki stands out for its attention to detail and clean aesthetics. Highly recommend!
            </p>


          </div>

        </div>

      </div>
    </div>
  </section>


  <section class="lg:py-14 px-4 lg:px-0 py-10 bg-[#F0F0F0] text-center lg:mt-20 mt-12">
    <h2 class="font-semibold lg:text-[38px] text-[22px] lg:w-[60%] mx-auto lg:leading-[45px]">Ready to boost your brand with powerful content?</h2>

    <p class="font-medium lg:text-[17px] text-[14px]">Let’s work together to create words that convert and stories that inspire.</p>

    <a href="#" class="bg-black rounded-md py-2 px-8 text-white font-medium inline-block lg:mt-5 mt-3 text-[14px] lg:text-[16px]">Hire Us Today</a>
  </section>

  <footer class="lg:pt-8 pt-6 bg-black text-white">
    <div class="grid lg:grid-cols-6 lg:px-14 px-7  lg:mb-20 mb-10 lg:gap-12 gap-7">
      <div class="col-span-2">
        <img src="./images/logo.jpg" alt="" class="w-[120px] -ml-8">

        <p class="text-white lg:text-[14px] text-[13px] lg:pr-10 -mt-8">Powerful words, impactful stories. We craft SEO-friendly content that builds trust and drives growth.</p>
      </div>

      <div class="col-span-1 lg:mt-5 mt-3">
        <h2 class="font-medium lg:text-[17px] text-[15px]">Quick Links</h2>

        <ul class="mt-4 space-y-1.5 lg:text-[15px] text-[13px]">
          <li>
            <a href="/about-us.html">About Us</a>
          </li>

          <li>
            <a href="/services.html">Services</a>
          </li>


          <li>
            <a href="/blogs.html">Blog</a>
          </li>


          <li>
            <a href="/contact.html">Contact Us</a>
          </li>
        </ul>
      </div>

      <div class="col-span-1 lg:mt-5 mt-3">
        <h2 class="font-medium lg:text-[17px] text-[15px]">Services</h2>

        <ul class="mt-4 space-y-1.5 lg:text-[15px] text-[13px]">
          <li>
            <a href="/service-details.html">Blog & Article Writing</a>
          </li>

          <li>
            <a href="/service-details.html">Website Content</a>
          </li>


          <li>
            <a href="/service-details.html">SEO Content</a>
          </li>


          <li>
            <a href="/service-details.html">Copywriting</a>
          </li>
        </ul>
      </div>

      <div class="col-span-2 lg:mt-5 mt-3 lg:pl-10">
        <h2 class="font-medium lg:text-[17px] text-[15px]">Get in Touch</h2>

        <ul class="mt-4 space-y-1.5 lg:text-[15px] text-[13px]">
          <li>
            <a href="#"><i class="fa-solid fa-envelope"></i> info@contentwhale.com</a>
          </li>

          <li>
            <a href="#"><i class="fa-solid fa-phone text-[13px] lg:text-[15px]"></i> +91 98765 43210</a>
          </li>


          <li>
            <a href="#"><i class="fa-solid fa-location-dot text-[13px] lg:text-[15px]"></i> Jaipur, Rajasthan, India</a>
          </li>



        </ul>

        <ul class="mt-4 flex gap-3">
          <li>
            <a href="#" class="bg-white lg:w-[30px] lg:h-[30px] w-[25px] h-[25px] flex justify-center items-center rounded-full"><i class="fa-brands fa-facebook-f text-[13px] lg:text-[16px] text-black"></i></a>
          </li>

          <li>
            <a href="#" class="bg-white lg:w-[30px] lg:h-[30px] w-[25px] h-[25px] flex justify-center items-center rounded-full"><i class="fa-brands fa-twitter text-[13px] lg:text-[16px] text-black"></i></a>
          </li>
          <li>
            <a href="#" class="bg-white lg:w-[30px] lg:h-[30px] w-[25px] h-[25px] flex justify-center items-center rounded-full"><i class="fa-brands fa-instagram text-[13px] lg:text-[16px] text-black"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="bottom-footer border-t-[rgba(255,255,255,.3)] py-7 border-t ">
      <p class="text-[#FFFFFF78] text-[14px] text-center ">© 2025 ContentWhale. All rights reserved.</p>
    </div>
  </footer>


  <script src=" https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">
  </script>
  <script>
    const swiper = new Swiper('.auto-swiper', {
      loop: true, // infinite loop
      spaceBetween: 20,
      autoplay: {
        delay: 2000, // 2 sec per slide
      },
      slidesPerView: 3.8, // ek time par 3 images dikhe
      slidesPerGroup: 1, // ek slide me 1 hi image move ho
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

    });
  </script>

  <script>
    const swiper2 = new Swiper('.auto-swiper2', {
      loop: true,
      spaceBetween: 20,

      autoplay: {
        delay: 2000,
        reverseDirection: true
      },
      slidesPerView: 3.4,
      slidesPerGroup: 1,
    });
  </script>

  <script>
    const swiper3 = new Swiper('.auto-swiper3', {
      loop: true,
      spaceBetween: 20,
      autoplay: {
        delay: 2000,
      },
      slidesPerView: 3.6,
      slidesPerGroup: 1,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

    });
  </script>
  <script>
    new Swiper("#reviewSwiper", {
      slidesPerView: 1, // default (mobile)
      spaceBetween: 20,
      loop: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      breakpoints: {
        640: { // tablet
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: { // medium devices
          slidesPerView: 2,
          spaceBetween: 25,
        },
        1024: { // desktop
          slidesPerView: 3,
          spaceBetween: 30,
        },
      },
    });
  </script>
  <script>
    const processSwiper = new Swiper('#process-slider', {
      loop: true,
      slidesPerView: 3, // ek time par 3 cards
      spaceBetween: 20,
      slidesPerGroup: 1,
      navigation: {
        nextEl: '.next-process',
        prevEl: '.prev-process',
      },
      breakpoints: {
        0: {
          slidesPerView: 1.3
        }, // Mobile
        768: {
          slidesPerView: 2
        }, // Tablet
        1024: {
          slidesPerView: 3.8
        } // Desktop
      }
    });
  </script>
  <script>
    const menuBtn = document.getElementById("menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");

    menuBtn.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  </script>

  <script>
    const header = document.getElementById("main-header");
    window.addEventListener("scroll", () => {
      if (window.scrollY > 30) {
        header.classList.add("bg-white", "shadow", );
      } else {
        header.classList.remove("bg-white", "shadow");
      }
    });
  </script>
</body>

</html>